



*{
    
    box-sizing: border-box; 
	margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
	
	
}
input{
    width: 25vw;
    padding: 10px;
    outline: none;
    border-radius: 10px solid gray;
	box-shadow: 10px 5px 5px black;
    font-weight: 600;
}

#listaPais{
    font-size: 30px;
    margin-top: 20px;
    list-style: none;
    font-weight: 600;
    color: #ffffff; 
	
   
}
#contenedor-main{	
	width:70%;
	height:70%;
	background: linear-gradient(#090979, #00d4ff);
	display:flex;
    align-items:center;
	justify-content:center;
	margin-top:5%;
	margin-left:14%;
	padding:15px;
	box-shadow: 10px 5px 5px black;
}
.articulo_centrado{
	margin-left:28%;
}



.filtro{
    display: none;
}
	